<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Smart Library</title>{% endblock %}
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->
  
  <!-- Add additional CSS in static file -->
  {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Js files -->
    {% load static %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    
</head>
    
<body>
    
    <nav class="navbar navbar-inverse bg-primary navbar-toggleable-sm" style="background-color: #222;">
        <div class="container">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
             {% load static %}
            <a class="navbar-brand" href="index.html"><img src="{% static 'media_cdn/logo.png' %}" height="30" width="41" > Smart Library</a>
            
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><span class="fa fa-user fa-lg"></span> {{ user.get_username }}</li>
                        <li class="nav-item"><a href="{% url 'logout'%}?next={{request.path}}" class="nav-link"><span class="fa fa-sign-in fa-lg"></span> Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}" class="nav-link"><span class="fa fa-sign-in fa-lg"></span> Login</a></li>
                    {% endif %} 
                </ul>
            </div>
        </div> 
        
    </nav>
    <div style="background-color: #51a5ee;">
        <div class="container">
            <div class="row-header">
                <div class="col">
                    {% block sidebar %}
                <ul class="nav nav-dark justify-content-center">
                    <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{% url 'books' %}" class="nav-link">Books</a></li>
                    <li class="nav-item"><a href="{% url 'authors' %}" class="nav-link">Author</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'my-borrowed' %}" class="nav-link">My Borrowed</a></li>
                    {% endif %}
                </ul>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    


  
      
      {% block content %}{% endblock %}
      
    

  
</body>
</html>
