{% extends "base_generic.html" %}

{% block content %}

<header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-md-6">
                    <h1>Smart Library</h1>
                    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
                </div>
            </div>
        </div>
    </header>


<div class="container">
  <div class="row row-content ">
    
    <div class="col-12 col-sm-6 col-md-8">
        
        <div class="row row-content">
            <div class="col-5 col-sm-3 col-md-2 col-lg-1 align-self-center" style="text-align: right"><span class="fa fa-home fa-3x"></span></div>
            <div class="col-7 col-sm-10">
                <h1>Smart Library Home</h1>
            </div>
        </div>
        <hr>
        <div class="row row-content">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <p>Welcome to <em>Smart Library</em>, a Django based website developed by Shubham Mishra, Raja Kedia and others.</p> <!-- author detail link not yet defined -->
                
            </div>
        </div>
        <br>
        <br>
        <div class="row row-content">
            <div class="col-5 col-sm-3 col-md-2 col-lg-1 align-self-center" style="text-align: right"><span class="fa fa-list fa-3x"></span></div>
            <div class="col-7 col-sm-10">
                <h1>Contents</h1>
            </div>
        </div>
        <hr>
        <div class="row row-content">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <p class="card-text" style="padding:0 10px;">The library has the following record counts:</p>
                  <ul>
                    <li><strong>Books:</strong> {{ num_books }}</li>
                    <li><strong>Copies:</strong> {{ num_instances }}</li>
                    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
                    <li><strong>Authors:</strong> {{ num_authors }}</li>
                  </ul>
                
            </div>
        </div>
        
        <br><br>
        
        
        
        
        
      </div> 
      <div class="col-12 col-sm-6 col-md-4 align-item-center">
          <div class="row row-content">
            <div class="col-12 align-self-center">
            
                <div class="card bg-dark">
                    <div class="card-header align-self-center"><h4><span class="fa fa-eye fa-lg"></span> {{ num_visits }} {% if num_visits == 1 %} time{% else %} times {% endif %}</h4></div>
                </div>
            
            </div>
        </div>
          
          
          <br>
      </div>
    </div>
  </div>  




{% endblock %}