.fn-large{
    font-size: 18px;
}
.navbar-inverse{
    background-color: #512DA8;;
}
.fn-light{
    color: #ddd;
}
a:hover{
    cursor: pointer;
}
/*
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.container-fluid{
	display: block;
	width:;
}
.jumbologo{
	background-color: #fff4ed;
	border: none;
}
.bp{
	border: 1px solid #ddd;
	border-radius: 2px;
}
*/