{% extends "base_generic.html" %}

{% block content %}

<header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-md-6">
                    <form method="GET" action="{% url 'searchA' %}">
                    <div class="input-group mb-3">
                        
                          <input type="text"  name="q" autocomplete="off" value="{{request.GET.q}}" class="form-control" placeholder="Search Authors" aria-label="Search" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-success" type="submit"><span class="fa fa-search fa-lg"></span></button>
                          </div>
                        
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

<div class="container">
    <h1>Author List</h1>
    
    <div class="row">
        {% if author_list %}
        
        {% for author in author_list %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body" style="padding: 20px;text-align: center;">
                    <h4 class="card-title">{{ author.first_name }}</h4>
                    <p class="card-body">{{author.last_name}}, {{author.first_name}}</p>
                    <a href="{{ author.get_absolute_url }}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}

    {% else %}
      <p>There are no authors in the library.</p>
    {% endif %} 
    </div>
    
</div>
<br><br>


   
{% endblock %}
