{% extends "base_generic.html" %}

{% block content %}




<header class="jumbotron">
        <div class="container">
            <h1>{{author}}</h1>
        </div>
    </header>

<div class="container">
  <div class="row row-content ">
    
    <div class="col-12 col-sm-6 col-md-8 col-lg-9 ">
        
        <div class="row row-content">
            <div class="col-5 col-sm-3 col-md-2 col-lg-1 align-self-center" style="text-align: right"><span class="fa fa-info fa-3x"></span></div>
            <div class="col-7 col-sm-10">
                <h1>Details</h1>
            </div>
        </div>
        <hr>
        <div class="row row-content">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                
                <p><strong>Date of Birth: </strong>
                    {%if author.date_of_birth %}
                        {{author.date_of_birth}}
                    {% else %}
                        Not Specified
                    {% endif %}
                </p>
                <p><strong>Till: </strong>
                    {%if author.date_of_death %}
                        {{author.date_of_death}}
                    {% else %}
                        Not Specified
                    {% endif %}
                </p>
                
            </div>
        </div>
        <br><br>
        <div class="row row-content">
             <div class="col-5 col-sm-3 col-md-2 col-lg-1 align-self-center" style="text-align: right"><span class="fa fa-book fa-3x"></span></div>
            <div class="col-sm-6 mr-auto">
                <h1>Books</h1>
                
            </div>
        </div>
        <hr>
      
        
        <div class="row row-content">
            <div class="col-5 col-sm-3 col-md-2 col-lg-1" ></div>
            <div class="col-sm-6">
                {% if author.book_set.all %}
                    {% for book in author.book_set.all %}
                    <h5>
                        <a href="{% url 'book-detail' book.pk %}">{{book}}</a>  ({{book.bookinstance_set.all.count}})
                    </h5>
                    <p>{{book.summary}}</p>
                    {% endfor %}
                {% else %}
                    <p>There are no Books.</p>
                {% endif %} 
            </div>
        </div>
        
        
        
      </div> 
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 flex-first flex-sm-last">
          <div class="card">
                {% load static %}
                <img class="card-img-top" src="{% static 'media_cdn/defaultAuthor.png' %}" height="250" style="padding: 20px;">
                </div>
          <h5 style="text-align: center;">Author</h5>
          <br>
      </div>
    </div>
  </div>  



{% endblock %}
